<!DOCTYPE html>
<html lang="en">
    <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            background-color: #ffffff;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            color: #333333;
            margin: 0;
            padding: 0;
		}
        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            border: 2px solid #e5e5e5;
            border-radius: 8px;
        }
        .logo {
            max-width: 200px;
            margin-bottom: 15px;
        }
        .title {
            color: #404040;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }

        .divider {
            max-width: 500px;
            margin: 0 auto;
            height: 2px;
            background: #e5e5e5;
        }
        .content {
            font-size: 16px;
            margin-bottom: 20px;
        }
         .email {
            color: #404040;
            font-weight: 700;
        }
        .support {
			font-size: 14px;
			color: #999999;
			margin-top: 20px;
		}
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .link .btn-title {
            background: #0077B5;
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            font-size: 25px;
            width: 300px;
            text-align: center;
            justify-content: center;
            padding: 10px 0;
            margin: 0 auto;
            border-radius: 8px; 
        }
    </style>
    </head>
    <body>
        <div class="container">
            <a href="http://localhost:3000">
                <img class="logo" src="cid:icon" />
            </a>
            <div class="title">{{title}}</div>
            <div class="divider" />
            <div class="content">
                <p>Hey {{name}},</p>
                <p>Your password has been successfully updated for the email <span class="email">{{email}}</span>.
                <p>Login with the new password by clicking the link below:</p>
                <p class="link">
                    <a class="btn-title" href={{url}}>{{urlTitle}}</a>
                </p>
                <p>If you did not request this password change, please contact us immediately to secure your account.</p>
            </div>
            <div class="support">
				If you have any questions or need assistance, please feel free to reach out to us at 
				<a href="mailto:grooveit96@gmail.com">grooveit96@gmail.com</a>. 
				We are here to help!
			</div>
        </div>
    </body>
</html>

